{% extends 'layout.html' %}
{% block content %}
{% load tags %}
{% load static %}
<style>
#assessment-table {
    text-transform: uppercase;
    }

#completed-table {
    text-transform: uppercase;
    }
</style>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Dashboard</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h5>Summary of Transactions</h5>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="fa fa-spin fa-cog"></i></li>
              <li><i class="view-html fa fa-code"></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="user-status table-responsive">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th scope="col">Details</th>
                  <th scope="col">Status</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for row in summary_transactions %}
                <tr>
                  <td class="f-w-600">
                    {% if row.status == 6 %}
                      Completed Transactions
                    {% elif row.status == 5 %}
                      Cancelled Transactions
                    {% elif row.status == 4 %}
                      Hold Transactions
                    {% elif row.status == 3 %}
                      For uploading Transactions
                    {% elif row.status == 2 %}
                      Ongoing Transactions
                    {% elif row.status == 1 %}
                      Pending Transactions
                    {% endif %}
                  </td>
                  <td class="font-primary">
                    {% if row.status == 6 %}
                      Completed
                    {% elif row.status == 5 %}
                      Cancelled
                    {% elif row.status == 4 %}
                      Hold
                    {% elif row.status == 3 %}
                      Uploading of picture
                    {% elif row.status == 2 %}
                      Ongoing
                    {% elif row.status == 1 %}
                      Pending
                    {% endif %}              
                  </td>
                  <td>
                    <div class="span badge rounded-pill pill-badge-secondary">{{row.transaction_count}}</div>
                  </td>
                </tr>
                {% endfor %}
                <td colspan="2" class="text-right f-w-600">TOTAL DATA</td>
                <td colspan="1" class="f-w-600"><div class="span badge rounded-pill pill-badge-secondary">300</div></td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100 box-col-12">
      <div class="card">
        <div class="card-header">
          <h5>Most completed transactions</h5>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="fa fa-spin fa-cog"></i></li>
              <li><i class="view-html fa fa-code"></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="user-status table-responsive">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for row in transaction_per_swo %}
                <tr>
                  <td class="bd-t-none u-s-tb">
                    <div class="align-middle image-sm-size"><img class="img-radius align-top m-r-15 rounded-circle" src="{% static 'images/login/icon.png' %}" alt="">
                      <div class="d-inline-block">
                        <h6>{{ row.swo__first_name }} {{ row.swo__last_name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>SOCIAL WORKER OFFICER</td>
                  <td>{{ row.transaction_count }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" id="">
              <canvas id="myChart2" style="width:100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" id="">
                <canvas id="myChart1" style="width:100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
          <div class="card-body" id="">
            <canvas id="counttransaction" style="width:100%"></canvas>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" id="">
                <canvas id="countstaff" style="width:100%"></canvas>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  var xValues = ["ONHOLD TRANSACTION", "CANCELLED TRANSACTION", "COMPLETE TRANSACTION", "PENDING TRANSACTION", "ONGOING TRANSACTIONS"];
  var yValues = [{{hold}},{{cancelled}}, {{completed}}, {{pending}}, {{ongoing}}];
  var barColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
  new Chart("counttransaction", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Client Transaction History"
      }
    }
  });
</script>
<script>
  var xValues = ["Service Provider", "Social Worker", "Super Administrator", "Verifier"];
  var yValues = [{{sp}},{{swo}}, {{am}}, {{vr}}];
  var barColors = ["#AED8E6", "#BED1DF","#CECBD8","#DFC4D1","#EFBECA"];
  
  new Chart("countstaff", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "User Summary Report"
      }
    }
  });
</script>
<script>
var xValues = ["Active", "Inactive"];
var yValues = [{{active_emp}},{{inactive_emp}}];
var barColors = [
  "#F6A39D",
  "#F6E2C5",
];

new Chart("myChart1", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Active and Inactive Users"
    }
  }
});  
</script>
<script>
var xValues = ["Financial Assistance", "Material Assistance", "Psychosocial"];
var yValues = [{{financial}}, {{material}}, {{psychological}}];
var barColors = [
  "#B1B2FF",
  "#AAC4FF",
  "#D2DAFF",
];

new Chart("myChart2", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues,
    }]
  },
  options: {
    title: {
      display: true,
      text: "Assistance Summary"
    }
  }
});  
</script>

<script>


function drawChart() {
var data = google.visualization.arrayToDataTable([
  ['Contry', 'Mhl'],
  ['Italy',55],
  ['France',49],
  ['Spain',44],
  ['USA',24],
  ['Argentina',15]
]);

var options = {
  title:'World Wide Wine Production'
};

var chart = new google.visualization.BarChart(document.getElementById('myChart'));
  chart.draw(data, options);
}
</script>
{% endblock %}