{% extends 'layout.html' %}
{% block content %}
{% load tags %}
{% load static %}
{% load humanize %}
<style>
#assessment-table {
    text-transform: uppercase;
    }

#completed-table {
    text-transform: uppercase;
    }
</style>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Dashboard</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
          <div class="card-body" id="">
            <canvas id="countransaction" style="width:100%"></canvas>
          </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100 box-col-12">
      <div class="card">
        <div class="card-body">
          <canvas id="sexdata" style="width:100%;max-width:600px"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100 box-col-12">
      <div class="card">
        <div class="card-body" id="">
          <canvas id="counttransaction" style="width:100%"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100 box-col-12">
      <div class="card">
        <div class="card-body" id="">
          <canvas id="countstaff" style="width:100%"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-12 xl-100 box-col-12">
      <div class="card">
        <div class="card-body" id="">
          <canvas id="disabilitydata" style="width:100%"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/datalabels.min.js' %}"></script>
<script>
  var xValues = [{% for row in summary_data %}"{{ row.category }}",{% endfor %}];
  var yValues = [{% for row in summary_data  %}{{row.count}},{% endfor %}];
  var barColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
  new Chart("counttransaction", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Client Category"
      }
    }
  });
</script>
<script>
  var xValues = [{% for row in sub_category %}"{{ row.category }}",{% endfor %}];
  var yValues = [{% for row in sub_category  %}{{row.count}},{% endfor %}];
  var barColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
  new Chart("countstaff", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Client Sub Category"
      }
    }
  });
</script>
<script>
  var xValues = [{% for row in monthly_transactions  %}"{{ row.name  }}",{% endfor %}];
  var yValues = [{% for row in monthly_transactions  %}{{row.count}},{% endfor %}];
  var barColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
  new Chart("countransaction", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Client Transaction by Month"
      }
    }
  });
</script>
<script>
  (function() {
    const xValues = ["Male", "Female",];
    const yValues = [{{count_male}}, {{count_female}}];
    const barColors = [
      "#FDFDBD",
      "#C8FFD4",
    ];

    new Chart("sexdata", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "CLIENTS SEX DISAGGREGATED DATA"
        }
      }
    });
  })();
</script>
<script>
  var xValues = [{% for row in disability_storage  %}"{{ row.disability  }}",{% endfor %}];
  var yValues = [{% for row in disability_storage  %}{{row.count}},{% endfor %}];
  var barColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
  new Chart("disabilitydata", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Disability Data"
      }
    }
  });
</script>
{% endblock %}