{% extends 'layout.html' %}
{% load static %}
{% load tags %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>User Profile</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">User</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="edit-profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">My Profile</h4>
              <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
            </div>
            <div class="card-body">
              <div class="row mb-2">
                <form id="submitForActionForm">
                  {% csrf_token %}
                  <div class="profile-title">
                    <div class="media">
                      <label for="file">
                        {% if profile_picture.profile_pict.url %}
                        <img id="profileImage" class="img-70 rounded-circle" alt="" src="{{profile_picture.profile_pict.url}}" width="750" height="50">
                        {% else %}
                        <img id="profileImage" class="img-70 rounded-circle" alt="" src="{% static 'images/login/icon.png' %}">
                        {% endif %}
                      </label>
                      <input id="file" type="file" name="file_name"  accept="image/png, image/jpeg" style="display: none;" onchange="ValidateSingleInput(this);">
                      <input type="text" name="verification" value="changeprofile" hidden>
                      <div class="media-body">
                        <h5 class="mb-1">{% get_user_info request.user.id %}</h5>
                        <p>{% get_user_role request.user.id %}</p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
                {% comment %} <div class="mb-3">
                  <h6 class="form-label">Bio</h6>
                  <textarea class="form-control" rows="5">On the other hand, we denounce with righteous indignation</textarea>
                </div> {% endcomment %}
              <form id="changepassword">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">Email-Address</label>
                  <input class="form-control" value="{{user_data.email}}" placeholder="your-email@domain.com">
                </div>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" value="{{user_data.username}}" placeholder="your-email@domain.com">
                  </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input class="form-control" type="password" value="" name="password" placeholder="*******" required>
                </div>
                <div class="form-footer">
                  <button action="submit" class="btn btn-primary btn-block">Update</button>
                </div>
                <input type="text" hidden value="changepassword" name="verification">
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <form id="employee_profile_update" class="card">
            {% csrf_token %}
            <div class="card-header">
              <h4 class="card-title mb-0">Employee Profile</h4>
              <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="mb-3">
                    <label class="form-label">Company</label>
                    <input class="form-control" type="text" value="Department of Social Welfare and Development" placeholder="Company" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input class="form-control" type="text" value="{{user_data.first_name}}">
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Middle Name</label>
                    <input class="form-control" type="text" value="{{user_data.middle_name}}">
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input class="form-control" type="text" value="{{user_data.last_name}}">
                  </div>
                </div>
                <hr>
                <small>The address below, is your area of assignment.</small>
                <br>
                <br>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Region <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="region" id="region" required>
                                <option></option>
                                {% for row in region %}
                                <option value="{{ row.region_code }}">{{ row.region_name|upper  }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Province <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="province" id="province" required></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="city" id="city" required></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Barangay <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="barangay" id="barangay" required></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                  <div>
                    <label class="form-label">About Me</label>
                    <textarea class="form-control" rows="5" placeholder="Enter About your description"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-primary" type="submit">Update Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  var _validFileExtensions = [".jpg", ".jpeg",".png"];    
  function ValidateSingleInput(oInput) {
      if (oInput.type == "file") {
          var sFileName = oInput.value;
           if (sFileName.length > 0) {
              var blnValid = false;
              for (var j = 0; j < _validFileExtensions.length; j++) {
                  var sCurExtension = _validFileExtensions[j];
                  if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                      blnValid = true;
                      break;
                  }
              }
               
              if (!blnValid) {
                  Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'The file extension you have entered is invalid! ' + sFileName ,
                      footer: 'Valid extensions are JPG and PNG'
                    })
                  oInput.value = "";
                  return false;
              }
          }
      }
      return true;
  }
  $('#file').change(function() {
    $('#submitForActionForm').submit();
  });
  function validationForm(){
    var invalid = false;
    $('.form-control').each(function() {
        if (/<[a-z][\s\S]*>/i.test($(this).val())) {
            $(this).addClass('is-invalid');
            $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
            invalid = true;
        }
    });
    return invalid;
  }
  $('#submitForActionForm').on('submit', function(e){
    e.preventDefault();
    var form = new FormData(this);
    if (!validationForm()){
        Swal.fire({
            title: "Are you sure",
            text: "You want to upload picture?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "{% url 'user_profile' %}",
                    data: form,
                    success : function (response){
                        if(!response.error){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                  location.reload()
                                }
                            });
                        } else {
                            Swal.fire('Oops...', response.msg, 'warning');
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
    }
});
</script>
<script>
    $(document).ready(function(){
        var select2options = {
            width: "100%",
            containerCssClass: 'select',
            placeholder: 'Choose',
        }
        

        var addressOptions = {
          width: "100%",
          placeholder: 'Choose',
          containerCssClass: 'select'
        }

        $('#region').select2(addressOptions);
        $('#province').select2(addressOptions);
        $('#city').select2(addressOptions);
        $('#barangay').select2(addressOptions);


        var processProvince = new Select2Cascade($('#region'), $('#province'), '/libraries/province/get/:parentId:', addressOptions);
        var processCity = new Select2Cascade($('#province'), $('#city'), '/libraries/city/get/:parentId:', addressOptions);
        var processBrgy = new Select2Cascade($('#city'), $('#barangay'), '/libraries/barangay/get/:parentId:', addressOptions);

        $('#region').val('{{ information.barangay.city_code.prov_code.region_code.region_code }}').trigger('change');

        processProvince.then( function(parent, child, items) {
            $('#province').val('{{ information.barangay.city_code.prov_code.prov_code }}').trigger('change');
        });

        processCity.then( function(parent, child, items) {
            $('#city').val('{{ information.barangay.city_code.city_code }}').trigger('change');
        });

        processBrgy.then( function(parent, child, items) {
            $('#barangay').val('{{ information.barangay_id }}').trigger('change');
        });
        
        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }
        $('#changepassword').on('submit', function(e){
          e.preventDefault();
          if (!validationForm()){
              var form = new FormData(this);
              Swal.fire({
                  title: "Are you sure",
                  text: "You want to change this password?",
                  icon: "info",
                  showCancelButton: true,
                  confirmButtonText: "Yes",
                  allowOutsideClick: false,
                  showLoaderOnConfirm: true,
                  preConfirm: function (){
                      return $.post({
                          url: "{% url 'user_profile' %}",
                          data: form,
                          success : function (response){
                              if(!response.error){
                                  Swal.fire({
                                      title: "Good job!",
                                      html:  response.msg,
                                      icon: "success",
                                      allowOutsideClick: false,
                                  }).then((result) => {
                                      if (result.isConfirmed){
                                        location.reload()
                                      }
                                  });
                              } else {
                                  Swal.fire('Oops...', response.msg, 'warning');
                              }
                          },
                          cache       : false,
                          contentType : false,
                          processData : false,
                      });
                  },
              });
            }
        });   
        $('#employee_profile_update').on('submit', function(e){
          e.preventDefault();
          if (!validationForm()){
              var form = new FormData(this);
              Swal.fire({
                  title: "Are you sure",
                  text: "You want to update your information?",
                  icon: "info",
                  showCancelButton: true,
                  confirmButtonText: "Yes",
                  allowOutsideClick: false,
                  showLoaderOnConfirm: true,
                  preConfirm: function (){
                      return $.post({
                          url: "{% url 'user_profile' %}",
                          data: form,
                          success : function (response){
                              if(!response.error){
                                  Swal.fire({
                                      title: "Good job!",
                                      html:  response.msg,
                                      icon: "success",
                                      allowOutsideClick: false,
                                  }).then((result) => {
                                      if (result.isConfirmed){
                                        location.reload()
                                      }
                                  });
                              } else {
                                  Swal.fire('Oops...', response.msg, 'warning');
                              }
                          },
                          cache       : false,
                          contentType : false,
                          processData : false,
                      });
                  },
              });
            }
        });   

    });

</script>
{% endblock %}