{% load tags %}
{% load static %}
{% load humanize %}
<style>
    .modal-xxl {
        max-width: 75%;
    }

    .modal-xxl .modal-dialog {
        max-width: 65%;
        width: auto;
    }
</style>
<div class="row" id="client_content">
    <a href="javascript:void(0);" id="back"><i class="fa fa-angle-double-left"></i>Back</a>
    <div class="tab-content" id="pills-icontabContent">
        <div class="tab-pane fade show active m-t-30" id="information" role="tabpanel" readonly>
            <br><br>
            <div class="row mb-3">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Disrbursement Voucher: {{data.dv_name}} <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#update">(Update)</a>| <a href="{% url 'printdvobs' data.id %}" target="_blank">(Print)</a></u> 
                            <br>Payee: {{data.sp.name}}</u></label>
                    </div>
                </div>
            </div>
            <form id="submitVoucherData">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Search Statement of Account Tracking Code <span class="txt-danger">*</span></label>
                            <select class="form-control select soa" id="transaction" name="soa_id" required></select>
                        </div>
                    </div>
                    <input type="text" class="form-control" name="soa_total_amount" value="{% if total_sum %}{{total_sum|floatformat:2|intcomma}}{% else %}0{% endif %}" hidden>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>SAVE</label>
                            <input type="submit" class="form-control f-w-900">
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row mb-3">
                <div class="table-responsive">
                    <table class="table table-responsive table-sm table-bordered" id="voucher-data">
                        <thead>
                            <tr>
                                <th>Remove</th>
                                <th class="text-center">Statement of Account Tracking</th>
                                <th class="text-center">Statement of Account Name</th>
                                <th class="text-center">Total Amount</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <br>
            <div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Update Disbursement Voucher</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="updateDV">
                        {% csrf_token %}
                        <input type="text" value="update" name="function" hidden>
                        <div class="modal-body">
                            <div class="row mb-2">
                                <div class="form-group">
                                    <label>DV - Name</label>
                                    <input type="text" class="form-control" name="dv_name" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="form-group">
                                    <label>DV - Date</label>
                                    <input type="date" class="form-control" name="dv_date_updated" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-primary" {% if not restriction %}disabled{% endif %}>Save changes</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script>
    $(document).ready(function(){
        $('#voucher-data').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 8, 30, 45, 50 ],
            'order': [[0, 'desc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/requests/finance/disbursement/voucher/data/?format=datatables&data={{ data.id }}',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='remove', 'className': 'text-start', data-id="+ row['id'] + ">REMOVE</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'soa_code','name':'soa.voucher_code', 'className': 'text-center','searchable':false, 'sortable': false},
                {'data': 'soa_name','name':'soa.voucher_title', 'className': 'text-center','searchable':false, 'sortable': false},
                {
                    'data': 'soa_amount',
                    'className': 'text-center',
                    'sortable': false,
                    'render': function (data, type, row, meta) {
                        if (data) {
                            // Remove decimal places if the number is a whole number
                            var formattedAmount = parseFloat(data).toFixed(2); // Ensure two decimal places
                            if (formattedAmount.indexOf('.00') !== -1) {
                                // Remove the decimal places if the amount is a whole number
                                formattedAmount = formattedAmount.replace('.00', '');
                            }
                            // Format with commas
                            return formattedAmount.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        } else {
                            return data;
                        }
                    }
                },
            ]
        });
    });
    $('#updateDV').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to submit add this data?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'disbursement_voucher_data' data.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#client_content').load('/financial-transaction/disbursement/data/{{data.id}}');
                                        $('#update').modal('hide');

                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#submitVoucherData').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to submit add this data?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'disbursement_voucher_data' data.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#client_content').load('/financial-transaction/disbursement/data/{{data.id}}');
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $(document).on('click', 'a[data-role=remove]', function(){
        var id = $(this).data('id');
        Swal.fire({
          title: "Are you sure",
          text: "You want to data from this voucher?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3498DB",
          confirmButtonText: "Yes",
          allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.showLoading()
                $.ajax({
                    url: "{% url 'removeSoa' %}",
                    data: {
                        id: id
                    },
                    type: "POST"
                })
                .done(function(data){
                    if (data.data == 'success'){
                        Swal.fire({
                          title: "Good job!",
                          text: "Data removed in voucher",
                          icon: "success",
                          confirmButtonColor: "#3498DB",
                          allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#client_content').load('/financial-transaction/disbursement/data/{{data.id}}');
                              }
                        });
                    }
                });
            }
        });
    });
    $(document).ready(function(){
        $('.select').select2({
            width: '100%',
            placeholder: 'CHOOSE',
            containerCssClass: 'select'
        });
        $('#back, #close_modal').on('click', function(){
            window.location.href = "{% url 'dibursement_voucher' %}"
        });
        $('.soa').select2({
            width: '100%',
            placeholder: 'CHOOSE',
            containerCssClass: 'select',
            allowClear: true,
            ajax: {
                url: "{% url 'get_all_soa' %}",
                method: "GET",
                datatype: "json",
                data: function(params) {
                    return {
                        searchTerm: params.term
                    }
                },
                processResults: function(response) {
                    return {
                        results:response
                    };
                },
                cache: true
            }
        });
        //$('#transaction').on('change', function(){
        //    var id = $(this).val();
        //       $.ajax({
        //            url: '/financial-transaction/get_data_transaction/' + id,
        //            type: 'GET',
        //            success: function(response){
        //                $('#fullname').val(response.fullname);
        //                $('#category_assistance').val(response.toa);
        //                $('#type_of_assistance').val(response.ta);
        //                $('#client_category').val(response.ct);
        //                $('#client_sub_category').val(response.csc);
        //                $('#service_provider').val(response.service_provider);
        //                $('#fund_source_data').val(response.fund_source);
        //            }
        //       });
        //});
        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }
        var select2options = {
            width: "100%",
            containerCssClass: 'select',
            placeholder: 'Choose',
        }
        new Select2Cascade($('#assistance_type'), $('#assistance_category'), '/requests/category/get/:parentId:', select2options);

        new Select2Cascade($('#assistance_category'), $('#sub_type_of_assistance'), '/requests/sub_category/get/:parentId:', select2options);

        $('.user').select2({
            width: '100%',
            placeholder: 'Choose',
            containerCssClass: 'select',
            allowClear: true,
            ajax: {
                url: "{% url 'get_all_user' %}",
                method: "GET",
                datatype: "json",
                data: function(params) {
                    return {
                        searchTerm: params.term
                    }
                },
                processResults: function(response) {
                    return {
                        results:response
                    };
                },
                cache: true
            }
        });
    });
</script>
{% endblock %}