{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Biller</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Biller</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" id="finance_content">
                    <ul class="nav nav-pills" id="tabUL" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-ongoing" data-bs-toggle="pill" href="#ongoing" role="tab">
                                <i class="fa fa-file-o"></i> Create Billing for service provider
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-icontabContent">
                        <div class="tab-pane fade show active m-t-30" id="ongoing" role="tabpanel">
                            <form id="submitVoucher">
                            {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>VOUCHER TITLE</label>
                                            <input type="text" class="form-control f-w-900 upper" name="voucher_title" oninput="this.value = this.value.toUpperCase()">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>VOUCHER DATE</label>
                                            <input type="date" class="form-control f-w-900 upper" name="date" id="street" oninput="this.value = this.value.toUpperCase()">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>REMARKS</label>
                                            <input type="text" class="form-control f-w-900 upper" name="remarks" id="village" oninput="this.value = this.value.toUpperCase()">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label>SAVE</label>
                                            <input type="submit" class="form-control f-w-900">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-responsive table-sm table-bordered" id="voucher-title">
                                <thead>
                                    <tr>
                                        <th>Action </th>
                                        <th>Tracking Number</th>
                                        <th>Voucher Title</th>
                                        <th>Voucher Created By</th>
                                        <th>Date</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade m-t-30" id="transaction_all" role="tabpanel">
                            <form id="searchingData">
                                {% csrf_token %}
                                <div class="alertDiv"></div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Service Provider <span class="txt-danger">*</span></label>
                                            <select class="form-control select1" name="service_provider" id="provider" required>
                                                <option></option>
                                                {% for row in service_provider  %}>
                                                <option value="{{ row.id }}">{{ row.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">  
                                        <div class="form-group">
                                            <label>Advance Search</label>
                                            <br>
                                            <form method="get">
                                                <button type="submit" class="btn btn-primary" id="search-btn">
                                                    <span class="loading open-circle" style="display:none;"></span> Search
                                                </button>
                                            </form>
                                            <a id="register-btn" type="button" class="btn btn-primary" style="display:none;">Register</a>
                                            <a href="{% url 'financial_transaction' %}" id="reset-btn" type="button" class="btn btn-default" style="display:none;">Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-responsive table-sm table-bordered" id="filter-provider">
                                <thead>
                                    <tr>
                                        <th class="text-center">Action</th>
                                        <th class="text-center">Information</th>
                                        <th>Tracking Number</th>
                                        <th>Beneficiary Name</th>
                                        <th>Client Name</th>
                                        <th class="text-center">Date of Transaction</th>
                                        <th class="text-center">Assigned to SWO</th>
                                        <th class="text-center">Case Study</th>
                                        <th class="text-center">Priority</th>
                                        <th class="text-center">Verified</th>
                                        <th class="text-center">Assessed</th>
                                        <th class="text-center">Transaction Status</th>
                                        <th class="text-center">Remarks Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade m-t-30" id="completed" role="tabpanel">
                            <small>Client Completed Transaction</small>
                            <hr>
                            <table class="table table-responsive table-sm table-bordered" id="completed-table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Action</th>
                                        <th class="text-center">Information</th>
                                        <th>Tracking Number</th>
                                        <th>Beneficiary Name</th>
                                        <th>Client Name</th>
                                        <th class="text-center">Date of Transaction</th>
                                        <th class="text-center">Assigned to SWO</th>
                                        <th class="text-center">Case Study</th>
                                        <th class="text-center">Priority</th>
                                        <th class="text-center">Verified</th>
                                        <th class="text-center">Assessed</th>
                                        <th class="text-center">Transaction Status</th>
                                        <th class="text-center">Remarks Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="voucher" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h6 class="modal-title" id="staticBackdropLabel">Request for Assistance</h6>
            <button type="button" class="btn-close" id="close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="load_data">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="submitNewRequestForm">
        {% csrf_token %}
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <input type="text" id="empid" name="id" hidden>
                <div class="form-group">
                    <label>Change Status <span class="txt-danger">*</span></label>
                    <select class="form-control select" id="change_status" name="change_status" required>
                        <option value="2">ASSESSED</option>
                        <option value="4">HOLD</option>
                        <option value="5">CANCELLED</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea class="form-control" name="remarks_transaction" rows="2" cols="2" required></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('.select1').select2({
        width: '100%',
        placeholder: 'Please Search Service Provider',
        containerCssClass: 'select'
    });
    $('#searchingData').on('submit', function(e){
        e.preventDefault();
        $('#search-btn').css('display', 'none');
        $('#reset-btn').css('display', '');
        $('#searching_data').show();
        var employee_name = $('#employee_name').val();
        check($('#provider').val());
    });
    function check(provider){
        console.log(provider)
        $('#filter-provider').DataTable({
            'serverSide': true,
            'processing': true,
            'order': [[ 1, 'desc' ]],
            'lengthMenu': [5,10,15],
            'ajax': {
                'url': '/api/requests/finance/search/?format=datatables&provider' + provider,
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                            return " <a href='#' data-role='direct' data-id="+ data + ">Change Status</a> "
                        }
                },
                {'data': 'tracking_number','name':'transaction.tracking_number', 'className': 'text-start', 'sortable': false },

            ],
        });
    }
    $(document).ready(function(){
        $('#voucher-title').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 25, 50, 100 ],
            'order': [[ 1, 'asc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/requests/finance/voucher/?format=datatables',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
            {'data': 'id',
                'render': function(data, type, row, meta) {
                        return " <a href='#' data-role='cr_voucher' data-id="+ data + ">Details</a>"
                    }
            },
            {'data': 'voucher_code', 'className': 'text-start', 'sortable': false },
            {'data': 'voucher_title','className': 'text-start', 'sortable': false },
            {'data': 'user', 'sortable': false, 'searchable':false,'className': 'text-start', 'sortable': false },
            {'data': 'date', 'className': 'text-start', 'sortable': false },
            {'data': 'remarks', 'className': 'text-start', 'sortable': false },
            ]
        });
        $(document).on('click','a[data-role=cr_voucher]', function(){ // FOR MODAL SUMMARY
            var id = $(this).data('id');
            $('#empid').val(id)
            $('#voucher').modal('show').find('#load_data').load('/financial-transaction/voucher_modal/modal/' +id);
           });

        $('#completed-table').DataTable({ //FOR COMPLETED DATA
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 8, 25, 50, 100 ],
            'order': [[ 2, 'asc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/requests/completed/transaction/list/?format=datatables',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='hold' data-id="+ row['id'] + ">Change Status</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'status',
                    'render': function(data, type, row, meta) {
                        if(row['status'] != 1){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['id'] + "'>View</a>"
                        }else{
                            return "<td>Start Transaction</td>"
                        }
                    },
                'sortable': false,
                'searchable': false,
                'className': 'text-center',
                },
                {'data': 'tracking_number','name':'transaction.tracking_number', 'className': 'text-start', 'sortable': false },
                {'data': 'beneficiary', 'name': 'transaction.bene.first_name, transaction.bene.last_name', 'className': 'text-start', 'sortable': false },
                {'data': 'client', 'name': 'transaction.client.first_name, transaction.client.last_name', 'className': 'text-start', 'sortable': false },
                {'data': 'verified_time_start', 'className': 'text-center', },
                {'data': 'swo', 'name': 'transaction.swo.get_fullname', 'className': 'text-center', 'searchable':false, 'sortable': false},
                {'data': 'is_case_study', 'className': 'text-center', 'sortable': false, 'searchable': false,
                        'render': function(data,type,row,meta){
                            if(row['is_case_study'] == 1){
                                return "<td>For Case Study</td>"
                            }else{
                                return "<td>Not for case Study</td>"
                            }
                        }
                },
                {'data': 'priority', 'className': 'text-center', 'name': 'transaction.priority.priority_name',
                        'render': function(data,type,row,meta){
                            if(row['priority_id'] == 1){
                                return "<span class='badge badge-primary'>"+ TA +"</span>" 
                            }else{
                                return "<span class='badge badge-primary'>"+ row['priority'] +"</span>" 
                            }
                        }
                },
                {'data': 'is_verified', 'className': 'text-center', 'searchable': false, 'sortable': false,
                    'render': function(data,type,row,meta){
                        if(row['is_verified']){
                            return '<i class="fa fa-check-circle txt-success"></i>'
                        }else{
                            return '<i class="fa fa-times-circle txt-danger"></i>'
                        }
                    }            
                },
                {'data': 'is_swo', 'className': 'text-center', 'searchable': false,
                    'render': function(data,type,row,meta){
                        if(row['is_swo']){
                            return '<i class="fa fa-check-circle txt-success"></i>'
                        }else{
                            return '<i class="fa fa-times-circle txt-danger"></i>'
                        }
                    }            
                },
                {'data': 'action', 'name':'get_action_action', 'className': 'text-center', 'sortable': false, 'searchable': false,
                    'render': function(data,type,row,meta){
                        if(row['action'] == null){
                            return "<button class='badge badge-dark'><i class='fa fa-check-circle'> N/a</i></button>"
                        }else if(row['action'] == 1){
                            return "<span class='badge badge-dark'>Pending</span>"
                        }else if(row['action'] == 2){
                            return "<span class='badge badge-warning'>Ongoing</span>"
                        }else if(row['action'] == 3){
                            return "<span class='badge badge-success'>Completed</span>"
                        }else if(row['action'] == 4){
                            return "<span class='badge badge-danger'>Hold</span>"
                        }else if(row['action'] == 5){
                            return "<span class='badge badge-danger'>Cancelled</span>"
                        }else{
                            return row['action']
                        }
                    }
                },
                {'data': 'remarks_action', 'className': 'text-center', 'searchable': false, 'sortable': false,
                    'render': function(data,type,row,meta){
                        if(row['remarks_action'] == null){
                            return "<td></td>"
                        }else{
                            return row['remarks_action']
                        }
                    }            
                },
            ]
        });
        $(document).on('click', 'a[data-role=details]', function(){
            var id = $(this).data('id');
            console.log(id)
            $('#finance_content').load('/financial-transaction/assessment/view/' + id);
        });
    });
    $(document).on('click','a[data-role=hold]', function(){ // FOR MODAL PASS TO DIFFERENT MODAL
        var id = $(this).data('id');
        $('#empid').val(id)
        $('#myModal').modal('show')
    });
    function validationForm(){
        var invalid = false;
        $('.form-control').each(function() {
            if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                $(this).addClass('is-invalid');
                $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                invalid = true;
            }
        });
        return invalid;
    }

    $('#submitVoucher').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to update this new client / beneficiary?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'financial_transaction' %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        location.reload()
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });

    $('#submitNewRequestForm').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You to change transaction status?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  "You change the status!",
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){

                                        $('#assigned-to-me').DataTable().ajax.reload();
                                        $('#completed-table').DataTable().ajax.reload();
                                        $('#assessment-table').DataTable().ajax.reload();
                                        $('#modal_view').load('/requests/provided/{{ transaction.id }}');
                                    }
                                });
                            } else {
                                Swal.fire("Oops...", "WRONG", "warning");
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });

</script>
{% endblock %}