{% load humanize %}
<style>
    .hidden {
        display: none;
        }
</style>
<div class="row" id="modal_view">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <form id="Updateserviceprovider">
                    {% csrf_token %}
                    <input type="text" value="update_sp" name="update_sp" hidden>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label><center>Update Service Provider</center></label>
                                <select class="form-control select" name="service_provider" id="service_pr" required>
                                    <option></option>
                                    {% for row in service_provider  %}
                                    {% if row.id == transaction.service_provider_id %}
                                    <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                    {% else %}
                                    <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary" value="UPDATE" style="width:100%">
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <form id="Update_amount_transaction">
                    {% csrf_token %}
                    <input type="text" value="update_amount" name="update_sp" hidden>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Update Amount</label>
                                <input type="text" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" name="amount" id="amount" value="{% if transaction.total_amount %}{{transaction.total_amount|intcomma}}{% else %}0{% endif %}" required>
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary" value="UPDATE" style="width:100%">
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    <hr>
    <p>Update history</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Updated by</th>
            <th scope="col">Date Updated</th>
            <th scope="col">Recent Amount</th>
          </tr>
        </thead>
        <tbody>
        {% for row in transaction_history %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{row.updated_by.fullname}}</td>
            <td>{{row.date_updated}}</td>
            <td>{{row.total_amount|intcomma}}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
              <th colspan="2"></th>
              <th>Current Amount</th>
              <th>{{transaction.total_amount|intcomma}}</th>
        </tr>
    </table>
    
    
    
    <!-- Modal -->
</div>
<script>
    var template_provided = `
    <tr>
        <td>
            <input type="text" class="form-control" name="provided[]" id="provided" required>
        </td>
        <td valign="middle">
            <input type="text" class="form-control" name="regprice[]" onkeypress='validate(event)' id="reg_price" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="qty[]" id="qty" onkeypress='validate(event)' step="any" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="dsc[]" id="dsc" onkeypress='validate(event)' step="any" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="discounted_price[]" id="discounted_price" step="any" onkeypress='validate(event)' required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="qty1[]" id="qty1" onkeypress='validate(event)' step="any" required>
            <div class="invalid-feedback"></div>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="tot[]" id="tot" onkeypress='validate(event)' required readonly>
            <div class="invalid-feedback"></div>
        </td>
        <td valign="middle">
            <center>
                <button type="button" class="btn btn-danger btn-xs" data-role="remove"><i class="fa fa-minus"></i></button>
            </center>
        </td>
    </tr>
`;

$('#add-provided').on('click', function(){
    $('#provided-table tbody').prepend(template_provided);
});

$(document).on('click', 'button[data-role=remove]', function(){
    $(this).closest('tr').remove();
    calculateTotal();
});
function calculateTotal() {
    var total = 0;
    $('#provided-table tbody tr').each(function() {
        var regPrice = parseFloat($(this).find('input[name="regprice[]"]').val());
        var qty = parseFloat($(this).find('input[name="qty[]"]').val());
        var dsc = parseFloat($(this).find('input[name="dsc[]"]').val());
        var discountedPrice = parseFloat($(this).find('input[name="discounted_price[]"]').val());
        var qty1 = parseFloat($(this).find('input[name="qty1[]"]').val());

        if (!isNaN(regPrice) && !isNaN(qty) && !isNaN(dsc) && !isNaN(discountedPrice) && !isNaN(qty1)) {
            var main = regPrice * qty;
            var dec = dsc / 100;
            var mult = main * dec;
            var discount = main - mult;
            var regPriceTotal = regPrice - (regPrice * dec);
            var total2 = qty1 * regPriceTotal;
            var finalTotal = main + total2;
            total += finalTotal;

            $(this).find('input[name="tot[]"]').val(finalTotal.toFixed(2));
        }
    });
    $('#pre_total_label').text(total.toFixed(2));
}

$(document).on('change keyup', '#provided-table input', function() {
    calculateTotal();
    let hasValue = false;

    // Check if any input in the table has a value
    $('#provided-table input').each(function() {
        if ($(this).val().trim() !== '') {
            hasValue = true;
            return false; // Exit the loop if any input has a value
        }
    });

    // Enable or disable the submit button based on the presence of input values
    $('#submit_button').prop('disabled', !hasValue);
});
$(document).on('change keyup', '#provided-table input[name="regprice[]"], #provided-table input[name="dsc[]"]', function() {
    // Get the parent table row
    var row = $(this).closest('tr');
    
    // Get the values of regprice and discount from the current row
    var regPrice = parseFloat(row.find('input[name="regprice[]"]').val());
    var dsc = parseFloat(row.find('input[name="dsc[]"]').val());
    
    // Check if regPrice and discount are valid numbers
    if (!isNaN(regPrice) && !isNaN(dsc)) {
        // Calculate regPriceTotal
        var dec = dsc / 100;
        var regPriceTotal = regPrice - (regPrice * dec);
        
        // Display regPriceTotal in the console
        if (dsc === 0) {
            row.find('input[name="discounted_price[]"]').val("0");
        } else {
            row.find('input[name="discounted_price[]"]').val(regPriceTotal.toFixed(2));
        }
    }
});
</script>
<script>
    $(document).on('click', 'a[data-role=delete]', function(){
        var id = $(this).data('id');
        Swal.fire({
            title: "Are you sure",
            text: "You want to remove this data in Data Provided?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3498DB",
            confirmButtonText: "Yes",
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.showLoading()
                $.ajax({
                    url: "{% url 'removeTransactionData' %}",
                    data: {
                        id: id
                    },
                    type: "POST"
                })
                .done(function(data){
                    if (data.data == 'success'){
                        Swal.fire({
                            title: "Good job!",
                            text: "Data removed in Transaction Provided",
                            icon: "success",
                            confirmButtonColor: "#3498DB",
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#modal_view').load('/financial-transaction/finance_modal_provided/{{ transaction.id }}');
                                $('#table').DataTable().ajax.reload();
                                }
                        });
                    }
                });
            }
        });
    });
    $('#Confirmation').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to confirm the total amount?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'confirmAmount' %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/finance_modal_provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('.select1').select2({
        width: '100%',
        placeholder: 'Choose',
        containerCssClass: 'select'
    });
    $('.select').select2({
        width: '100%',
        placeholder: 'CHOOSE',
        containerCssClass: 'select'
    });
</script>
<script>
    function validationForm(){
        var invalid = false;
        $('.form-control').each(function() {
            if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                $(this).addClass('is-invalid');
                $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                invalid = true;
            }
        });
        return invalid;
    }
    $('#submitformProvided').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to add this data",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'finance_modal_provided' transaction.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/finance_modal_provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                    }
                                });
                            }else{
                                Swal.fire("Oops...", response.msg, "warning");
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#Update_amount_transaction').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to update the amount",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'finance_modal_provided' transaction.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/finance_modal_provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                        $('#voucher-data').DataTable().ajax.reload();
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#Updateserviceprovider').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to update this service provider?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'finance_modal_provided' transaction.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/finance_modal_provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
</script>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;
        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
        }
</script>
