{% load humanize %}
<style>
    .hidden {
        display: none;
        }
</style>
<div class="row" id="modal_view">
    <form id="updateStatus">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Change Status <span class="txt-danger">*</span></label>
                    <input type="text" class="form-control" name="status_update" value="status" hidden>
                    <select class="form-control select" id="change_status" name="change_status" required>
                        <option></option>
                        {% comment %} <option value="2">ASSESSED</option>
                        <option value="3">FOR UPLOADING</option>
                        <option value="4">HOLD</option> {% endcomment %}
                        <option value="5">CANCELLED</option>
                        <option value="6">COMPLETED</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-1">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <input type="submit" class="btn btn-primary" name="regprice" value="update">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    {% comment %} <form id="submitformProvided">
        {% csrf_token %}
        <input type="text" class="form-control" name="final_total" id="" value="{{calculate.total_payment|floatformat:2}}" hidden>
        <input type="text" class="form-control" name="transaction_id" id="" value="{{transaction.id}}" hidden>
        <input type="text" class="form-control" name="sid" id="sid" hidden>
        <div class="row mb-3">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Provided</label>
                    <input type="text" class="form-control" name="provided" id="provided" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label id="reprice_label">Reg-Price</label> <span class="txt-danger" id="required">*</span>
                    <br>
                    <input type="text" class="form-control" name="regprice" onkeypress='validate(event)' id="reg_price" required>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Quantity<span class="txt-danger">*</span></label>
                    <br>
                    <input type="text" class="form-control" name="qty" id="qty" onkeypress='validate(event)' required>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Disc %</label> <span class="txt-danger">*</span>
                    <br>
                    <input type="text" class="form-control" name="dsc" id="dsc" onkeypress='validate(event)' required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Disc-Price</label> <span class="txt-danger">*</span>
                    <br>
                    <input type="text" class="form-control" name="discounted_price" id="discounted_price" onkeypress='validate(event)' required>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Quantity<span class="txt-danger">*</span></label>
                    <br>
                    <input type="text" class="form-control" name="qty1" id="qty1" onkeypress='validate(event)' required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Total</label>
                    <br>
                    <input type="text" class="form-control" name="tot" id="tot" onkeypress='validate(event)' required readonly>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" class="btn btn-primary" name="regprice" value="+">
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap table-scroll">
            <table class="table table-responsive" width="100%" id="table">
                <thead>
                    <th class="text-center">Delete</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Transaction Provided</th>
                    <th class="text-center">Service Provider</th>
                    <th class="text-center">Regular Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Discounted Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Total</th>
                </thead>
            </table>
        </div>
        <br>
    </form>
    <form id="Confirmation">
        {% csrf_token %}
        <input type="text" class="form-control" name="tracking_number" id="" value="{{transaction.tracking_number}}" hidden>
        <input type="text" class="form-control" name="final_total" id="final_total" value="{% if calculate.total_payment%}{{calculate.total_payment|floatformat:2}}{% else %}0{% endif %}" hidden>
        <input type="text" class="form-control" name="transaction_id" id="" value="{{transaction.id}}" hidden>
        <div class="alert alert-secondary" role="alert">
            Please confirm the total amount, if you're all set.
        </div>
        <p class="text-end">

            <b>Final total: <span>&#8369;</span>{% if calculate.total_payment%} {{calculate.total_payment|floatformat:2|intcomma}}{% else %} 0 {% endif %}</b> <input type="submit" class="btn btn-primary" name="regprice" value="confirm">
        </p>
    </form> {% endcomment %}
    <!-- Modal -->
</div>
<script>
    $(document).ready(function(){
        $('#table').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 4, 8, 12, 20 ],
            'order': [[0, 'desc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/requests/transactionDescription/list/?format=datatables&data={{ transaction.tracking_number }}',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='delete', 'className': 'text-start', data-id="+ row['id'] + ">Delete</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                    return "<a href='#' data-role='edit_meds' data-id="+ row['id'] + ">EDIT</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'provided_data',  'sortable': false},
                {'data': 'service_provider',  'searchable':false, 'sortable': false},
                {'data': 'regular_price',  'searchable':false, 'sortable': false},
                {'data': 'regular_quantity',  'searchable':false, 'sortable': false},
                {'data': 'discount_price',  'searchable':false, 'sortable': false},
                {'data': 'discount_quantity',  'searchable':false, 'sortable': false},
                {'data': 'total', 'searchable': false, 'sortable': false,
                    'render': function(data, type, row, meta) {
                        // Check if total_amount is null or undefined
                        if (data === null || data === undefined) {
                            return 'N/a';
                        }

                        // Check if data already contains commas
                        if (data.includes(',')) {
                            // Retain the original formatting if already contains commas
                            return data;
                        }

                        // Format the total_amount with commas for thousands (PHP currency) without the "P" symbol
                        return parseFloat(data).toLocaleString('en-PH', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                    }
                }, 
                
            ]
        });
    });
    $(document).on('click', 'a[data-role=delete]', function(){
        var id = $(this).data('id');
        Swal.fire({
            title: "Are you sure",
            text: "You want to remove this data in Data Provided?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3498DB",
            confirmButtonText: "Yes",
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.showLoading()
                $.ajax({
                    url: "{% url 'removeTransactionData' %}",
                    data: {
                        id: id
                    },
                    type: "POST"
                })
                .done(function(data){
                    if (data.data == 'success'){
                        Swal.fire({
                            title: "Good job!",
                            text: "Data removed in Transaction Provided",
                            icon: "success",
                            confirmButtonColor: "#3498DB",
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#modal_view').load('/financial-transaction/update_amount/{{ transaction.id }}');
                                $('#all-transaction').DataTable().ajax.reload();
                                }
                        });
                    }
                });
            }
        });
    });
    $('#Confirmation').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to confirm the total amount?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'confirmAmount' %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/update_amount/{{ transaction.id }}');
                                        $('#all-transaction').DataTable().ajax.reload();
                                        $('#incoming-table').DataTable().ajax.reload();
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('.select1').select2({
        width: '100%',
        placeholder: 'Choose',
        containerCssClass: 'select'
    });
    $('.select').select2({
        width: '100%',
        placeholder: 'CHOOSE',
        containerCssClass: 'select'
    });
    $("#reg_price, #qty, #dsc, #qty1, #tot, #final_total").on("change keyup", function(e) {
        var reg_price = $("#reg_price").val()
        var quantity = $("#qty").val()
        var discount_price = $("#dsc").val() //DISCOUNT % FIELD
        var discount_quantity = $("#tot").val()
        var quantity1 = $('#qty1').val()
        var final_total = $("#final_total").val()

        var main = reg_price * quantity;

        var dec = (discount_price / 100).toFixed(2);
        var mult = main * dec;
        var discount = main - mult

        var result_percentage = reg_price * dec

        $('#result_of_percentage').val(result_percentage);
        //$('#qty1').val(quantity);//
        $('#tot').val(discount.toFixed(2));

        var discounted_total = (reg_price * discount_price) / 100;
        var reg_price_total = reg_price - discounted_total //THIS IS THE TOTAL DISCOUNTED PRICE

        
        if(discount_price != 0){
            $('#discounted_price').val(reg_price_total.toFixed(2))
        }else if(discount_price == 0){
            $('#discounted_price').val("0")
            $('#qty1').val("0")
        }else {
            $('#discounted_price').val("0")
            $('#qty1').val("0")
        }

        var total2 = quantity1 * reg_price_total
        var final_total_calculation = parseFloat(main) + parseFloat(total2)
        
        var pre_total_result = parseFloat(final_total_calculation) + parseFloat(final_total)
        var pre_total = $("#pre_total_label");
        if(quantity){
            pre_total.text(pre_total_result.toLocaleString('en-US', { maximumFractionDigits: 2 }));
            pre_total.addClass("underline");
        }else{
            pre_total.text("0");
            pre_total.addClass("underline");
        }
        $('#pre_total').val(pre_total_result.toFixed(2));
        $('#tot').val(final_total_calculation.toFixed(2));
        
        //var pre_total = parseFloat(final_total_calculation) + parseFloat(final_total)
        //$('#pre_total').val(pre_total);
    });
    $(document).on('click','a[data-role=edit_meds]', function(){ // For assessmentStatus
        var id = $(this).data('id');
        var transaction_provided = $('#'+id).children('td:eq(2)').text();
        var regularprice = $('#'+id).children('td:eq(4)').text();
        var quantity = $('#'+id).children('td:eq(5)').text();
        var discount = $('#'+id).children('td:eq(6)').text();
        var quantity1 = $('#'+id).children('td:eq(7)').text();
        var tot = $('#'+id).children('td:eq(8)').text();

        $('#sid').val(id)
        $('#provided').val(transaction_provided)
        $('#reg_price').val(regularprice)
        $('#qty').val(quantity)
        $('#discounted_price').val(discount)
        $('#qty1').val(quantity1)
        $('#tot').val(tot)

    });
    function validationForm(){
        var invalid = false;
        $('.form-control').each(function() {
            if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                $(this).addClass('is-invalid');
                $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                invalid = true;
            }
        });
        return invalid;
    }
    $('#submitformProvided').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to add this data",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'update_amount' transaction.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/update_amount/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                        $('#incoming-table').DataTable().ajax.reload();
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#updateStatus').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to update status?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'update_amount' transaction.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/financial-transaction/update_amount/{{ transaction.id }}');
                                        $('#all-transaction').DataTable().ajax.reload();
                                        $('#incoming-table').DataTable().ajax.reload();
                                    }
                                });
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#type_of_assistance').on('change', function(){
        if($("#type_of_assistance").is(':checked')){
            document.getElementById('reprice_label').innerHTML = 'Bill Price';
            $('#sid').val("")
            $('#provided').val("")
            $('#reg_price').val("")
            $('#tot').val("")

            $('#discounted_price').val("0")
            $('#qty1').val(0)
            $('#qty').val(1)
            $("#dsc").val(0)
        } else {
            document.getElementById('reprice_label').innerHTML = 'Regular Price';
            $('#sid').val("")
            $('#provided').val("")
            $('#reg_price').val("")
            $('#qty1').val("")
            $('#tot').val("")
            $('#qty').val("")
            $("#dsc").val("")
            $('#discounted_price').val("")
        }
    });
</script>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;
        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
        }
</script>
