{%  load static %}
{% load humanize %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Guarantee Letter Head</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Load paper.css for happy printing -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">
  <link rel="icon" href="{% static 'images/logo/logo-icon.png' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'images/logo/logo-icon.png' %}" type="image/x-icon" />
  <style>
    @page{
      size: legal portrait;

    }

  </style>
</head>
<body class="legal portrait">
     
  <section class="sheet page">
    <div class="container-fluid" style="font-family:Arial, sans-serif;"> 
      <table class="title table table-bordered" style="margin-top: 17px;margin-bottom: 0px;border-color: white;">
        <thead style="line-height:15px;">
          <th>
            <img src="{% static 'lp_assets/images/insignia2.png' %}" style="margin-top: 0px;" class="mx-auto d-block float-start" width="250px" height="60px">
          </th>
          <th style="font-family: Times, Times New Roman, serif;text-align: center;float: right;">
            <label style="font-size: 15px;">CRISIS INTERVENTION SECTION</label><br>
            <label style="font-size: 12px;">PROTECTIVE SERVICES DIVISION</label><br>
            <label style="font-size: 15px;">FIELD OFFICE CARAGA</label><br>
            <label style="font-size: 10px;">DSWD-PMB-GF-000 | REV 00 / xx xxx xxxx</label>
          </th>        
        </thead>          
      </table>
      <!-- Letter Head -->
      <table class="beneficiary-info table table-bordered" style="font-size: 12px;margin-top:20px;border-top-color: black;border-color: white;text-align: center;">
        <tr>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2" style="text-align: right;font-weight: bold;">
            GL No.
          </td>
          <td width="160px"  style="border-bottom: 1px solid black;font-weight: bold;">
            <label>{{data.tracking_number}}</label>            
          </td>
        </tr>
        <tr>
          <td width="10px" style="text-align:left;font-size: 15px;">
            <label>Date</label>
          </td>
          <td width="150px" style="border-bottom: 1px solid black;font-weight: bold;">
            <label>{{data.date_entried|date:"M. d, Y"}}</label>
          </td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2" ></td>
          <td colspan="2"></td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:10px;border-top-color: black;border-color: white;text-align: center;">
        <tr>
          <td width="300px" style="text-align:left;">
            <label style="font-weight: bold;">Addressee: <u>{{data.service_provider.name}}</u></label><br>
            <label>Address: {% if data.service_provider.address %}{{data.service_provider.address}}{% endif %}</label><br>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <!-- End of Letter Head -->
      <!-- Letter Body -->
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:10px;border-top-color: black;border-color: white;text-align: center;">
        <tr>
          <td width="150px" style="text-align:left;font-size: 15px;">
            <label>Dear Ma'am/Sir,</label>
          </td>
          <td width="150px;">
            <label></label>
          </td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2" ></td>
          <td colspan="2"></td>
        </tr>        
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:10px;border-top-color: black;border-color: white;text-align: Center;">
        <tr>
          <td width="800px" style="text-align: left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>This has reference to the request for the</label>
          </td>
          <td width="400px" style="border-bottom: 1px solid black;font-weight: bold;">
            <label>{{data.lib_assistance_category.name|upper}}</label>
          </td>
          <td width="560px" style="text-align: left;">
            <label>assistance of herein client</label>
          </td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-10px;border-top-color: black;border-color: white;text-align: Center;font-weight: bold;">
        <tr>
          <td width="150px" style="border-bottom: 1px solid black;">
            <label>{{data.client.get_client_fullname}}</label>
          </td>
          <td width="100px" >
            <label>for his/her</label>
          </td>
          <td width="180px" style="border-bottom: 1px solid black;">
            <label>{{data.relation.name|upper}}</label>
          </td>
          <td width="20px">
            <label>,</label>
          </td>
          <td width="300px" style="border-bottom: 1px solid black;">
            <label>{{data.bene.get_client_fullname}}</label>
          </td>
          <td></td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:30px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td>
            <label>The Department of Social Welfare and Development has assessed and validated the said request for</label><br>
            <label>assistance through the Crisis Intervention Division. Thus, the Department is using this letter to guarantee the</label>
          </td>
        </tr>        
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-30px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td width="260px">
            <label>payment of the bill in the amount of</label>
          </td>
          <td style="border-bottom: 1px solid black;text-align: center;font-weight:bold;">
            <label><span id="numtoword">waw</span></label>
          </td>
          <td width="20px">
            <label>Php</label>
          </td>
          <td width="150px" style="border-bottom: 1px solid black;text-align: center;font-weight: bold;">
            {{calculate.total_payment|floatformat:2|intcomma}}
          </td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:30px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td width="560px">
            <label>To facilitate the payment, please submit to the Crisis Intervention Division through</label>
          </td>
          <td width="200px" style="border-bottom: 1px solid black;text-align: center;line-height: 15px;font-weight: bold;">Guarantee Letter</td>          
        </tr>
        <tr>
          <td colspan="2">
            <label>the following documents for the preparation of Disbursement Voucher with one week after service has been </label><br>
            <label>completed.</label>
          </td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-20px;border-top-color: black;border-color: white;text-align: center;">
        <tr>
          <td>
            <label>Ø Guarantee Letter (GL) from the DSWD with your company's "received" stamp</label><br>
            <label>Ø Statement of Accounts (SOA) or Billing Statement addressed to DSWD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-30px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td>
            <label>Please be informed that said payment will be directly deposited to your company's bank acount. Should</label>
          </td>
          <td></td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-30px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td width="130px">
            <label>there be any query, you may call us at </label>
          </td>
          <td width="150px" style="border-bottom: 1px solid black;">
            <b>303-8620</b>
          </td>
          <td width="80px"></td>
        </tr>
      </table>
      <!-- End of Letter Body -->
      <!-- Letter Footer -->
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-10px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td width="200px">
            <label>For your consideration.</label><br><br>
            <label>Thank you</label><br><br>
            <label>Very truly yours,</label><br><br>
          </td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid black;">            
          </td>
          <td></td>
        </tr>
        <tr>
          <td width="280px">
            <label><b><u>{{data.signatories.get_fullname|upper}}</b></u></label><br>
            <label>Approving Authority</label><br>
            {% comment %} <label>Position: CIS HEAD</label><br>
            <label>Office: CRISIS INTERVENTION SECTION</label><br> {% endcomment %}
          </td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:10px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td width="85px">
            <label>Valid until</label>
          </td>
          <td width="150px" style="border-bottom: 1px solid black;font-weight: bold;">
            <label>{{validity}}</label>
          </td>
          <td></td>
        </tr>
      </table>
      <table class="beneficiary-info table table-bordered" style="font-size: 15px;margin-top:-20px;border-top-color: black;border-color: white;text-align: left;">
        <tr>
          <td>
            <label>*validity period includes the time of receipt of the guarantee letter by the service provider</label>
          </td>
        </tr>
      </table>
        <table class="beneficiary-info table table-bordered" style="font-size: 12px;margin-top:20px;border-top-color: black;border-color: white;text-align: center;">
          <tr style="font-size: 8px;border-bottom: 1px solid black;">
            <td colspan="4"></td>
            <td colspan="4">
              <label>Page 1 of 1</label>
            </td>
            <td colspan="4">
            </td>
          </tr>          
        </table>
        <table class="beneficiary-info table table-bordered" style="font-size: 12px;margin-top:-25px;border-top-color: black;border-color: white;text-align: center;">
          <tr style="font-size: 8px;font-weight: bold;">
            <td colspan="4"></td>
            <td  colspan="4">
              <img height="70px" style="float:right;" src="{% static 'lp_assets/images/socotec.png' %}">
              <label>DSWD Field Office Caraga. R. Palma. Brgy. Dagohoy. Butuan City. Philippines 8600  </label><br><label>Website: http://www.dswd.gov.ph  Email: cis.focrg@dswd.gov.ph   Tel Nos.: 303-860</label>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </section>

</body>
<script>
  function convertAmountToWords(amount) {
    const units = ['', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'];
    const teens = ['', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen'];
    const tens = ['', 'Ten', 'Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];
  
    function convertThreeDigitNumber(num) {
      return (num >= 100 ? units[Math.floor(num / 100)] + ' Hundred ' : '') +
        (num % 100 === 0 ? '' : convertTwoDigitNumber(num % 100));
    }
  
    function convertTwoDigitNumber(num) {
      if (num < 10) {
        return units[num];
      } else if (num < 20) {
        return teens[num - 10];
      } else {
        return tens[Math.floor(num / 10)] + ' ' + units[num % 10];
      }
    }
  
    const formattedAmount = amount.toString().replace(/,/g, '');
    const [integerPart, decimalPart] = formattedAmount.split('.');
    const integerAmount = parseInt(integerPart, 10);
  
    const thousands = Math.floor(integerAmount / 1000);
    const remainingAmount = integerAmount % 1000;
  
    const thousandsInWords = thousands > 0 ? convertThreeDigitNumber(thousands) + ' Thousand ' : '';
    const remainingAmountInWords = convertThreeDigitNumber(remainingAmount);
  
    let result = thousandsInWords + remainingAmountInWords;
  
    const centavos = parseInt(decimalPart || '0', 10);
  
    if (centavos > 0) {
      result += ` ${centavos}/100`;
    }
  
    return result.trim();
  }
  
  const amountWithFraction = convertAmountToWords({{calculate.total_payment|floatformat:2}});
  document.getElementById("numtoword").innerHTML = amountWithFraction.toUpperCase();
  </script>
</html>