{% extends 'layout.html' %}
{% block content %}
{% load tags %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Summary</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Status</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" id="transaction_content">
                    <ul class="nav nav-pills" id="tabUL" role="tablist">
                        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#filteriningmodal">
                            <a class="nav-link active" id="pills-ongoing" data-bs-toggle="pill" href="#ongoing" role="tab">
                                <i class="fa fa-file-o"></i> Filtering Area of Assignment
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-icontabContent">
                        <div class="tab-pane fade show active m-t-30" id="ongoing" role="tabpanel">
                            <div class="table table-responsive">
                                <table class="table table-responsive" width="100%"  id="active-swo">
                                    <thead>
                                        <th class="text-center">#</th>
                                        <th class="text-center">TABLE NUMBER</th>
                                        <th class="text-center">FULL NAME</th>
                                        <th class="text-center">PENDING ASSESSMENT</th>
                                        <th class="text-center">ONGOING ASSESSMENT</th>
                                        <th class="text-center">COMPLETED ASSESSMENT</th>
                                        <th class="text-center">CASE STUDY</th>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="filteriningmodal" tabindex="-1" aria-labelledby="filteriningmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filteriningmodallLabel">Filtering Summary by Office Station</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <select class="form-select select2" id="office_station">
                    <option></option>
                    {% get_office_stations as office_stations %}
                    {% for station in office_stations %}
                        <option value="{{ station.id }}">{{ station.name }}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary" type="button" id="filter-dropdown" style="width:100%;">Filter</button>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#active-swo').DataTable({ //ASSIGNED TO SELF
        'serverSide': true,
        'processing': true,
        'deferRender': true,
        'lengthMenu': [ 8, 30, 50, 100 ],
        'order': [[ 1, 'desc' ]],
        'bDestroy': true,
        'ajax': {
            'url': '/api/user/active/swo/?format=datatables&address={{user_details.OfficeStationLib.name}}',
            'type': 'GET',
            'data': function(d) {
                d.page = d.start / d.length + 1;  // Calculate the current page based on start and length
                d.page_size = d.length;  // Send the page size
            },
        },
        'fnCreatedRow': function (row, data, index) {
            $(row).attr('id', data['id']);
        },
        'columns': [
            {'data': 'id',
                'render': function(data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                },
            },
            {'data': 'table', 'className': 'text-center', 'sortable': false},
            {'data': 'fullname','name':'user.fullname', 'className': 'text-center', 'sortable': false },
            {'data': 'pending','name':'get_total', 'className': 'text-center', 'sortable': false, 'searchable': false },
            {'data': 'ongoing','name':'get_ongoing', 'className': 'text-center', 'sortable': false, 'searchable': false },
            {'data': 'complete','name':'get_complete', 'className': 'text-center', 'sortable': false, 'searchable': false },
            {'data': 'datas','name':'case_study', 'className': 'text-center', 'sortable': false, 'searchable': false},
        ]
    });
    function handleRadioClick(radio) {
        selectedUserId = radio.value;
        // Example: Update another field with the selected user ID
        $('#swo_id').val(selectedUserId);
        // You can perform other actions with the selectedUserId as needed
    }
    $('#filter-dropdown').on('click', function(){
        if($('#office_station').val() == "") {
            Swal.fire("Ooops!", "The dropdown must not be empty", "warning");
        } else {
            $('#active-swo').DataTable().ajax.url('/api/user/active/swo/?format=datatables&filter=' + $('#office_station').val()).load();
        }
    });
    $(document).ready(function() {
        $('#queu_number').on('input', function() {
            // Remove non-numeric characters using a regular expression
            $(this).val($(this).val().replace(/\D/g, ''));
        });
    });
    $('.select2').select2({
        width: '100%',
        placeholder: 'Please Select Office Station',
        containerCssClass: 'select'
    });
</script>


{% endblock %}